@charset "utf-8";


ul {
    list-style: none;
}

h1 {
    border: 1px solid red;
}

h1 {
    border: 2px dashed aquamarine;
    border-radius: 12px;
}
h2 {
    border: 2px dashed aquamarine;
    border-radius: 12px;
}




p::first-letter {
 font-size: 2em;
 color:darkred
}

h1, .green {
    text-align: center;
}

ul > li {
    text-align: left;
}

a {
    background-color:beige;
}
p {
    background-color: turquoise;
}
p:link {
        font-size: 2em;
}
    
p:visited {
        font-size: 0.5em;
}
p:hover {
        font-size: 4em;
        color: paleturquoise;
}


.flex-container {
    display: flex;
    flex-flow: row wrap;
    
}

main {
    margin:0 10px;
    padding:0 8px;
    background-color: lawngreen;

    flex:2;
    order:2;
}

aside {
     margin:0 10px;
     padding:0 8px;
     background-color: palegoldenrod;
     flex:1 ;
     order:1;
}
