@charset "utf-8";


ul {
    list-style: none;
}a

table {
    border: 1px solid red;
}

th {
    border: 8px double black;
}

td {
    border:2px dashed black;
    border-radius: 12px;
}
h1  {
    border: 2px dashed aquamarine;
    border-radius: 12px;
}

h2  {
    border: 2px dashed aquamarine;
    border-radius: 12px;
}






tr:nth-child(odd) {
    background-color: pink;
}

tr:nth-child(2n) {
    background-color: gold;
}

tr:first-child {
    font-size: 2em;
}

tr:last-child {
 font-size: 0.7em;
}

p::first-letter {
 font-size: 2em;
 color:darkred
}

h1, .green {
    text-align: center;
}

div li {
    text-align: right;
    list-style: none;
}

a {
    background-color:aqua;
}
h3 ~ p {
    background-color: paleturquoise;
    }



a {
    text-decoration: none;
}
p:link {
    font-size: 2em;
}

p:visited {
    font-size: 0.5em;
}
p:hover {
    font-size: 4em;
    color: orange;
   }


.flex-container {
    display: flex;
    flex-flow: row wrap;
    
}

main {
    margin:0 10px;
    padding:0 8px;
    background-color: honeydew;

    flex:2;
    order:2;
}

aside {
     margin:0 10px;
     padding:0 8px;
     background-color: blanchedalmond;
     flex:1 ;
     order:1;
}
